*{
    box-sizing: border-box;
}

.container{
    margin: auto;  
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* rules header-top */
.header-top{
    width: 100%;
    height: 180px;
    background-color: purple;
}

.layout-center{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: red;
}

.box{
    height: 400px;
    margin-top: 20px;
    background-color: black;
}

.box::after{
    content: "";
    display: table;
    clear: both;
}

.box .sidebar-top{
    width: 100%;
    height: 50px;
    background-color: yellowgreen;
}

.box .sidebar{
    width: 25%;
    height: 80%;
    margin-top: 10px;
    float: left;
    background-color: blue;
}

.box .content{
    background-color: red;
    width: 45%;
    float: left;
    height: 80%;
    margin: 10px 2.5%;
}

footer{
    width: 100%;
    height: 50px;
    background: purple;
    margin-top: 10px;
}